@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    display: flex;
    margin: 0;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}
#main {
    width: 100%;
}
#content {
    height: 100%;
}
#sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebar-icon {
    padding: 2.5em;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.sidebar-icon p {
    margin: 0;
}
.sidebar-icon ion-icon {
    font-size: 1.5em;
}